* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #000000;
}

.debug-info {
  position: absolute;
  color: #ffffff;
  mix-blend-mode: difference;
  font-size: 5px;
}


.container {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 20px;
}

.visor-container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: 148px;
  width: 100%;
  margin-bottom: 35px;
}

.button-grid {
  display: grid;
  margin-left: 5px;
  grid-template-areas: "button1 button2 button3 button4 button5 button6 button7"
                       "button8 button9 button10 button11 button12 button13 button14"
                       "button15 button16 button17 button18 button19 button20 button21";
  row-gap: 14px;
  column-gap: 20px;
}

button {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

button img {
  width: 70%;
  height: 70%;
}

button:active {
  background-color: red;
}