* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #000000;
}

.debug-info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  mix-blend-mode: difference;
  font-size: 8px;
  text-align: center;
}



.container {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 20px;
}

.visor-container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: 148px;
  width: 100%;
  margin-bottom: 35px;
  align-items: flex-end;
}

.button-grid {
  display: grid;
  margin-left: 5px;
  grid-template-areas: "button1 button2 button3 button4 button5 button6 button7"
                       "button8 button9 button10 button11 button12 button13 button14"
                       "button15 button16 button17 button18 button19 button20 button21";
  row-gap: 14px;
  column-gap: 20px;
}

button {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

button img {
  width: 70%;
  height: 70%;
}

@keyframes a {
  to {background-position: -200% 0}
}

button.special {
  min-height:100%;
  background: 
   linear-gradient(to right,
    rgba(255,0,0,1) 0%,
    rgba(255,154,0,1) 10%, 
    rgba(208,222,33,1) 20%, 
    rgba(79,220,74,1) 30%, 
    rgba(63,218,216,1) 40%, 
    rgba(47,201,226,1) 50%, 
    rgba(28,127,238,1) 60%, 
    rgba(95,21,242,1) 70%, 
    rgba(186,12,248,1) 80%, 
    rgba(251,7,217,1) 90%, 
    rgba(255,0,0,1) 100%) 
   0 0/200% 100%;
   animation: a 2s linear infinite;
}

button.missing {
  background-image: url("./assets/chips/missing.png");
  background-size: 20%;
}

button:active {
  background-color: red;
}